/* apply styles to <header> */
header {
    padding: 80px 35px;
    background-color: #39a6b2;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color:hsl(48, 6%, 16%);
    margin: -10;
  }

.styledfont {
    font-family: Helvetica, Arial, sans-serif;
  }